.vscode
*/*/.vscode

# CPL
CPL/*/public

# RPH
RPH/*/__pycache__
RPH/*/env

# PRP
PRP/*/main
PRP/*/data
PRP/*/b0b36prp-*
PRP/*/generate_solutions.sh
PRP/*/generate_solutions_bonus.sh
PRP/*/vgcore.*
PRP/*/package.zip
PRP/practices/cv*/*
!PRP/practices/**/*.c